<!DOCTYPE html>
<html>
<head>
    <title>Natsheet</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="m-2 container">
        
        @RenderBody()
    </div>
</body>
</html>